<%= /* this is where all of the charts and stuff get built */ %>
<hr>
<div class="row">
  <div class="col">
    <div id="basicStats"></div>
    <p class="text-center" id="amountPerCategory"></p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h5>Breakdown by Anime Type</h5>
    <div id="animeTypesChart"></div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <h5 class="text-center">How long have you spent watching anime?</h5>
    <p>You have spent a grand total of <strong><span id="grandTotalText"></span></strong> seconds watching anime.</p>
    <div>
      Which is...
      <p id="yearsSpan"><span id="yearsText" class="durationText"></span> <span id="yearsLabel">years</span></p>
      <p id="monthsSpan"><span id="monthsText" class="durationText"></span> <span id="monthsLabel">months</span></p>
      <p id="weeksSpan"><span id="weeksText" class="durationText"></span> <span id="weeksLabel">weeks</span></p>
      <p id="daysSpan"><span id="daysText" class="durationText"></span> <span id="daysLabel">days</span></p>
      <p id="hoursSpan"><span id="hoursText" class="durationText"></span> <span id="hoursLabel">hours</span></p>
      <p id="minutesSpan"><span id="minutesText" class="durationText"></span> <span id="minutesLabel">minutes</span> and</p>
      <p id="secondsSpan"><span id="secondsText" class="durationText"></span> <span id="secondsLabel">seconds</span></p>
      <p id="daysCombinedSpan">or simply put <span id="daysCombinedText" class="durationText"></span> <span id="daysCombinedLabel"></span></p>
    </div>
  </div>
  <div class="col">
    <img class="imageResponsive" src="https://cdn.codingjosh.com/anime_stats/misc/umaru_tv.png">
    <p>Life Pro Tip: The time you enjoy wasting, is not wasted time.</p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col">

  </div>
</div>
