<%
getCopyrightYear = function() {
  return (new Date()).getFullYear();
}
%>
  <hr>
  <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>

<footer class="footer-padding">
  <small>Copyright &copy; <%= getCopyrightYear() %> CodingJosh &mdash; <a href="https://myanimelist.net/profile/CodingJosh" target="_blank">MAL Profile</a> &mdash; <a href="https://github.com/YoCodingJosh/anime_stats" target="_blank">GitHub</a></small>
  <br/>
  <small>This website is not affiliated or endorsed by MyAnimeList or any anime studio/producer.</small>
  <br/>
  <small>All anime GIFs and images are copyrights of their respective owner(s).</small>
</footer>

</html>