<%
getCopyrightYear = function() {
  return (new Date()).getFullYear();
}
%>
  <hr>
  <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>

<footer class="footer-padding">
  <small>Copyright &copy; <%= getCopyrightYear() %> CodingJosh</small><br/>
  <small>All GIFs are copyrights of their respective owner(s).</small>
</footer>

</html>