<%
getCopyrightYear = function() {
  return (new Date()).getFullYear();
}
%>
  <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>

<footer class="footer-padding">
  <small>Copyright &copy; <%= getCopyrightYear() %> CodingJosh</small>
</footer>

</html>