<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>CodingJosh's Anime Stats</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>

<body>
  <nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">CodingJosh's Anime Stats</span>
  </nav>
  