<%- include("header.ejs") -%>
  <div id="content" class="container">
    <h1>Welcome!</h1>
    <p>This app will show you interesting metrics and statistics from your anime watchlist on MAL.</p>
    <button type="button" id="loginButton" class="btn btn-info btn-lg">Let's get started!</button>
    <br />
    <small id="errorText"></small>
    <small>You will be taken to MyAnimeList to authenticate/authorize.</small>
    <br />
    <br />
    <h4 id="ieDetectionText"></h4>
    <p>
      <small>
        <strong>Cookies Notice:</strong> This website uses cookies and local storage to synchronize your session
        with the server and to help provide a better user experience.<br />Your usage constitues agreement to using
        cookies and local storage.
      </small>
    </p>
  </div>
  <script src="/static/js/app/index.js"></script>
  <%- include("footer.ejs") %>