<%- include("header.ejs") %>
<div id="content" class="container">
  <div class="text-center" id="userPanel">
    <img src="" id="avatarImage">
    <h5 id="welcomeText"></h5>
  </div>

  <div id="loadingZone">
    <h1 class="text-center" id="loadingText">Starting the application...</h1>
    <p class="text-center">
      <img id="loadingImage" class="imageResponsive">
    </p>
  </div>

  <div id="dataZone">
    
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
<script src="/static/js/app/main.js"></script>
<%- include("footer.ejs") %>