<%- include("header.ejs") %>
<div id="content" class="container">
  <h1>Hello World!</h1>
</div>
<script>
  $(document).ready(function () {
    var tokenData = JSON.parse(`<%- JSON.stringify(tokenData) %>`);
    for (const property in tokenData) {
      window.localStorage.setItem(`${property}`, `${tokenData[property]}`);
    }
  });
</script>
<script src="/static/js/app/main.js"></script>
<%- include("footer.ejs") %>