.footer-padding {
  padding-left: 10px;
}

#avatarImage {
  border-radius: 50%;
  width: 5%;
  height: auto;
}

#userPanel {
  display: none;
}

@media only screen and (max-width: 600px) {
  #avatarImage {
    border-radius: 50%;
    width: 15%;
    height: auto;
  }
}

.imageResponsive {
  max-width: 100%;
  height: auto;
}

#dataZone {
  display: none;
}

.durationText {
  font-size: larger;
  font-weight: bold;
}
